<div class= "container row m-auto p-5">
	<form  action="/users/:id/component" method="POST" style="width: 100%;">
	<div class="container row border border-info p-3 text-center">
		<input type="hidden" name="attractionId" value="{{attraction.id}}" />
		<label class="p-3 mr-2"style="font-size: 3em;"><i class="fas fa-camera-retro"></i></label>
		<div class="card mb-3"style="width: 200px; height: 120px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="..." class="card-img rounded" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h8 class="card-title" href="https://www.totoprayogo.com/#">傳統藝術中心 <small> 15 mins</small></h8>
						<small class="card-text">open: 08:00 </small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container row border-left border-right border-bottom border-info p-3 text-center">
		<input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
		<label class="p-3 mr-2"style="font-size: 3em;"><i class="fas fa-utensils"></i></label>
		<div class="card mb-3" style="width: 200px; height: 120px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="..." class="card-img rounded" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h8 class="card-title" href="https://www.totoprayogo.com/#"> 晶英酒店<small> 23 mins</small></h8>
						<small class="card-text">open: 08:00 </small>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="container row border border-info p-3 text-center">
		<label class="p-3 mr-2"><i class="fas fa-gift"></i></label>
		<div class="card mb-3 col-3" style="width: 200px; height: 120px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="..." class="card-img rounded" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h8 class="card-title" href="https://www.totoprayogo.com/#">蛋糕店 <small> 45 mins</small></h8>
						<small class="card-text">open: 08:00 </small>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<div class="container p-3 text-right">
		<button class="btn btn-lg btn-primary" type="submit">Submit</button>
	</div>

</form>
</div>

