<div class="container mt-5 mb-5 p-5 row">


<p>hello</p>
<input type="text" name="date" class="form-control datepicker" value="02-16-2012">
</div>


<script>
	document.getElementsByClassName('.datepicker').datepicker()
</script>
