<div class="container p-5 text-center">
<form class="form-signin m-auto" action="/signin" method="POST" style="width: 40%;">
	<div class="text-center mb-4">
		<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
	</div>
	<div class="form-label-group">
		<label for="inputEmail">Email</label>
		<input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
	</div>
	<div class="form-label-group">
		<label for="inputPassword">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
	</div>
	<br />
	<button class="btn btn-lg btn-info btn-block" type="submit">Submit</button>
	<div class="text-center mb-4">
		<p><a href="/signup"style="color:lightseagreen">Sign Up</a></p>
	</div>
</form>
</div>

